body {
    margin: 0;
    line-height: normal;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: "Galano-Grotesque-Bold";
    src: url("fonts/GalanoGrotesqueBold.otf") format("opentype");
}

@font-face {
    font-family: "Proxima-Nova-Bold";
    src: url("fonts/ProximaNova-Extrabld.ttf") format("truetype");
}

@font-face {
    font-family: "Galano-Grotesque-SemiBold";
    src: url("fonts/GalanoGrotesqueSemiBold.otf") format("opentype");
}

@font-face {
    font-family: "Proxima-Nova-SemiBold";
    src: url("fonts/ProximaNova-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Galano-Grotesque-SemiBoldItalic";
    src: url("fonts/GalanoGrotesqueSemiBoldItalic.otf") format("opentype");
}

@font-face {
    font-family: "Proxima-Nova-SemiBoldItalic";
    src: url("fonts/ProximaNova-BoldIt.ttf") format("truetype");
}

@font-face {
    font-family: "Galano-Grotesque-Heavy";
    src: url("fonts/GalanoGrotesqueHeavy.otf") format("opentype");
}

@font-face {
    font-family: "Proxima-Nova-Heavy";
    src: url("fonts/ProximaNova-Black.ttf") format("truetype");
}

:root {
    --font-gg-bold: "Galano-Grotesque-Bold";
    --font-gg-semibold: "Galano-Grotesque-SemiBold";
    --font-gg-semibolditalic: "Galano-Grotesque-SemiBoldItalic";
    --font-gg-heavy: "Galano-Grotesque-Heavy";
    --font-pn-bold: "Proxima-Nova-Bold";
    --font-pn-semibold: "Proxima-Nova-SemiBold";
    --font-pn-semibolditalic: "Proxima-Nova-SemiBoldItalic";
    --font-pn-heavy: "Proxima-Nova-Heavy";
    --font-size-xl: 116px;
    --font-size-xl-m: 36px;
    --font-size-l: 80px;
    --font-size-l-m: 56px;
    --font-size-xm: 48px;
    --font-size-m: 32px;
    --font-size-s: 20px;
    --font-size-xs: 14px;
    --font-size-xxs: 10px;
    --white: rgb(255 255 255 / 100%);
    --white-15: rgb(38 38 38 / 100%);
    --white-t-15: rgb(255 255 255 / 15%);
    --black: rgb(0 0 0 / 100%);
    --pink: rgb(254 91 170 / 100%);
    --pink-pink-t-20: rgb(254 91 170 / 20%);
    --pink-pink-t-30: rgb(254 91 170 / 30%);
    --pink-gradient: linear-gradient(
        107.74deg,
        rgb(255 139 195 / 100%),
        rgb(253 84 166 / 100%)
    );
    --disable-gray-l: rgb(174 174 174 / 100%);
    --disable-gray-m: rgb(190 190 190 / 100%);
    --disable-gray-s: rgb(224 224 224 / 100%);
    --gap-xxl: 124px;
    --gap-xl: 64px;
    --gap-l: 48px;
    --gap-sm: 24px;
    --gap-s: 20px;
    --gap-2xxs: 16px;
    --gap-xs: 12px;
    --gap-xxs: 8px;
    --padding-xxxl: 164px;
    --padding-xxl: 96px;
    --padding-xml: 80px;
    --padding-xl: 48px;
    --padding-l: 40px;
    --padding-m: 36px;
    --padding-s: 24px;
    --padding-s-m: 20px;
    --padding-xs: 16px;
    --padding-xxs: 12px;
    --padding-xxxs: 8px;
    --br-xl: 80px;
    --br-l: 48px;
    --br-m: 36px;
    --br-m-m: 32px;
    --br-s: 20px;
}
