.fucker-block {
	width: 100%;
	overflow: hidden;
	background: var(--pink-gradient);
}

.fucker-container {
	margin: 0 auto;
	width: 1000px;
	display: flex;
	gap: var(--gap-xxl);
	padding: var(--padding-xl) 0 0 0;
	margin-bottom: -158px;
}

.fucker-image {
	width: 424px;
	height: auto;
	object-fit: cover;
}

.fucker-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--gap-xl);
	padding: var(--padding-xl) 0 0 0;
}

.fucker-title {
	letter-spacing: 0.02em;
	line-height: 90%;
	font-weight: 800;
	text-transform: uppercase;
	font-size: var(--font-size-l);
	font-family: var(--font-gg-heavy);
	color: var(--black);
}

.white-color {
	color: var(--white);
}

.button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	letter-spacing: 0.01em;
	line-height: 100%;
	padding: 20px 36px;
	border-radius: var(--br-l);
	font-size: var(--font-size-m);
	background-color: var(--black);
	font-family: var(--font-gg-bold);
	color: var(--white);
	transition: transform 0.3s ease;
}

.button-link {
	text-decoration: none;
}

.button-link:hover .button {
	transform: scale(1.07);
}

.topper {
	width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: var(--padding-xl) 0 0 0;
}

.pender-black-logo {
	width: 36px;
	transition: transform 0.3s ease;
}

.social-links {
	display: flex;
	align-items: center;
	gap: 16px;
}

.social-icon {
	width: 24px;
	height: 24px;
	padding: 6px;
	transition: transform 0.3s ease;
}

.social-link-box {
	display: inherit;
}

.social-link-box:hover .social-icon {
	transform: scale(1.3);
}

.social-link-box:hover .pender-black-logo {
	transform: scale(1.2);
}

/* FUCKER */



.ticker {
	/*width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	padding: 12px 0px;
	gap: var(--gap-xs);
	background-color: var(--black);
	white-space: nowrap;
	overflow: hidden;*/

	width: 100%;
    overflow: hidden;
    position: relative;
    background-color: var(--black);
}

.ticker-cont {
	display: flex;
    white-space: nowrap;
    flex-direction: row;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	padding: 12px 0px;
	gap: var(--gap-xs);
}

.ticker-text {
	/*color: var(--white);
	font-size: var(--font-size-s);
	font-family: var(--font-gg-semibold);
	letter-spacing: 0.08em;
	line-height: 90%;
	text-transform: uppercase;*/

	flex-shrink: 0;
    color: var(--white);
    font-size: var(--font-size-s);
    font-family: var(--font-gg-semibold);
    letter-spacing: 0.08em;
    line-height: 90%;
    text-transform: uppercase;
}












/* TICKER */



.ass-block {
	width: 100%;
	overflow: hidden;
	background: var(--white);
}

.ass-container {
	padding: var(--padding-xxxl) 0 0 0;
	margin: 0 auto;
	width: 1000px;
	display: flex;
	flex-direction: column;
}

.pink-color {
	color: var(--pink);
}

.ass-description {
	width: 546px;
	display: flex;
	flex-direction: column;
	gap: var(--gap-sm);
	padding: var(--padding-xxl) 0;
}

.ass-text {
	letter-spacing: 0.005em;
	line-height: 110%;
	font-family: var(--font-gg-semibold);
	font-size: var(--font-size-s);
	color: var(--black);
}

.ass-wallet {
	width: fit-content;
	display: flex;
	transition: transform 0.3s ease;
}

.ass-wallet-link {
	text-decoration: none;
	z-index: 2;
	color: var(--black);
}

.ass-wallet-link:hover .ass-wallet {
	transform: scale(1.05);
}

.ass-wallet-text {
	border-radius: var(--br-s) 0px 0px var(--br-s);
	background-color: var(--pink-pink-t-20);
	font-family: var(--font-gg-bold);
	padding: 13px var(--padding-xs) 11px;
	font-size: var(--font-size-xs);
	letter-spacing: 0.04em;
	line-height: 100%;
	text-transform: uppercase;
	transition: background-color 0.3s ease;
	transition: width 0.3s ease;
}

.ass-wallet-link:hover .ass-wallet-text {
	background-color: var(--pink-pink-t-30);
}

.ass-wallet-copy {
	border-radius: 0px var(--br-s) var(--br-s) 0px;
	background-color: var(--pink);
	padding: var(--padding-xxs) var(--padding-xs);
	display: flex;
}

.copy-icon {
	width: 14px;
	height: 14px;
}

.check-icon {
	display: none;
	width: 14px;
	height: 14px;
}

.supply-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	border-radius: var(--br-m);
	background-color: var(--pink-pink-t-20);
	padding: var(--padding-s);
	gap: var(--gap-xs);
	color: var(--black);
	font-family: var(--font-gg-bold);
}

.supply-bar {
	align-self: stretch;
	border-radius: var(--br-s);
	background-color: var(--white);
	height: 38px;
	overflow: hidden;
	flex-shrink: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	position: relative;
}

.supply-bar-line {
	width: -webkit-fill-available;
	position: absolute;
	margin: 4px;
	border-radius: var(--br-s);
	overflow: hidden;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	mix-blend-mode: difference;
	z-index: 7;
}

.supply-bar-line-inside {
	background-color: var(--white);
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: var(--padding-xxxs) 0;
	box-sizing: border-box;
	border-radius: 4px;
	transition: width 1s ease-out;
}

.supply-bar-line-text {
	letter-spacing: 0.04em;
	line-height: 100%;
	text-transform: uppercase;
	font-size: var(--font-size-xs);
}

.sbl-finish {
	mix-blend-mode: multiply;
}

.sbli-finish {
	background-color: var(--pink);
}

.sblt-finish {
	margin-right: 10px;
	color: var(--black);
}

.sblt-start {
	margin-right: -38px;
    width: 28px;
    color: var(--white);
}

.supply-bar-cell {
	height: 100%;
	flex: 1;
	position: relative;
	mix-blend-mode: normal;
}

.supply-bar-cell-separator {
	width: 2px;
	height: 8px;
	position: relative;
	border-radius: var(--br-s);
	background-color: var(--white);
	mix-blend-mode: difference;
	z-index: 3;
}

.supply-info {
	align-self: stretch;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.separator-on {
	align-self: stretch;
	width: 2px;
	border-radius: var(--br-s);
	background-color: var(--black);
}

.separator-off {
	width: 2px;
}

.supply-info-text-left {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: var(--padding-xxxs) var(--padding-xs) 0px 0px;
	gap: 4px;
}

.supply-info-text-off {
	flex: 1;
	padding: var(--padding-xxxs);
}

.supply-info-text-right {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding: var(--padding-xxxs) 0px 0px var(--padding-xs);
	gap: 4px;
}

.ass-timer-description {
	width: 546px;
	padding: 0 0 var(--padding-xl) 0;
}

.a-links {
	text-decoration: underline;
	color: var(--black);
	transition: color 0.2s ease;
}

.a-links:hover {
	color: var(--pink);
}

.ass-timer {
  	display: flex;
  	gap: 4px;
  	z-index: 2;
}

.ass-timer-cell {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
}

.ass-timer-digit {
	border-radius: var(--br-xl) var(--br-xl) var(--br-xl) var(--br-xl);
	padding: var(--padding-s) var(--padding-l);
	letter-spacing: 0.02em;
	line-height: 90%;
	text-transform: uppercase;
	font-size: var(--font-size-xl);
	font-family: var(--font-gg-bold);
	background: var(--black);
	color: var(--white);
	width: 144px;
    text-align: center;	
}

.ass-timer-digit-disable {
	background: var(--disable-gray-s);
	color: var(--disable-gray-m);
}

.ass-timer-digit-left {
	border-radius: var(--br-xl) 2px 2px var(--br-xl);
  	padding: var(--padding-s) var(--padding-m) var(--padding-s) var(--padding-l);
}

.ass-timer-digit-center {
	border-radius: 2px;
  	padding: var(--padding-s) var(--padding-m);
}

.ass-timer-digit-right {
	border-radius: 2px var(--br-xl) var(--br-xl) 2px;
  	padding: var(--padding-s) var(--padding-l) var(--padding-s) var(--padding-m);
}

.ass-timer-name {
  	border-radius: var(--br-xl);
	background: var(--white);
	border: 4px solid var(--black);
	padding: 9px var(--padding-xxs) 7px;
	font-size: var(--font-size-xs);
	color: var(--black);
	font-family: var(--font-gg-bold);
	letter-spacing: 0.04em;
	line-height: 100%;
	text-transform: uppercase;
	margin-top: -18px;
}

.ass-timer-name-disable {
	border: 4px solid var(--disable-gray-s);
	color: var(--disable-gray-l);
}

.ass-row {
	display: flex;
	padding: var(--padding-xml) 0 0 0;
	gap: var(--gap-l);
	margin-bottom: -40px;
}

.ass-info {
	display: flex;
	flex-direction: column;
	gap: var(--gap-xl);
}

.ass-info-cell {
	display: flex;
	flex-direction: column;
	gap: var(--gap-sm);
}

.ass-info-title {
	font-size: var(--font-size-xm);
	font-family: var(--font-gg-bold);
	color: var(--black);
	letter-spacing: 0.01em;
	line-height: 100%;
	display: inline-block;
}

.ass-info-text {
	display: flex;
	flex-direction: column;
	gap: var(--gap-s);
}

.ass-info-text-mark-list {
	display: flex;
	flex-direction: column;
	gap: var(--gap-xxs);
}

.ass-info-text-mark {
	display: flex;
	align-items: flex-start;
	gap: var(--gap-xxs);
}

.ass-images {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 308px;
}

.arrow-image {
	width: 412px;
	height: auto;
	object-fit: cover;
	margin-top: -590px;
	z-index: 1;
}

.ass-image {
	width: 460px;
	height: auto;
	object-fit: cover;
}

.mark-image {
	width: 22px;
	height: auto;
}

.ass-pr {
	padding-right: 364px;
}



/* ASS */



.money-block {
	width: 100%;
	overflow: hidden;
	background: var(--black);
	background-image: url(images/money-bg-image.svg);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: contain;
}

.money-container {
	padding: var(--padding-xxxl) 0 0 0;
	margin: 0 auto;
	width: 1000px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.money-row {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 44px;
}

.digit-bg-pink {
	background: var(--pink);
	width: auto;
}

.name-bg-pink {
	background: var(--black);
	border: 4px solid var(--pink);
	color: var(--white);
}

.digit-bg-white {
	background: var(--white-t-15);
	font-size: var(--font-size-l);
}

.name-bg-white {
	border: 4px solid var(--white-15);
}

.gap-96 {
	padding: var(--padding-xxl) 0 0 0;
}

.gap-80 {
	padding: var(--padding-xml) 0 0 0;
}

.money-image {
	width: 640px;
	height: auto;
	object-fit: cover;
	z-index: 2;
}



/* MONEY */



.roadmap-block {
	width: 100%;
}

.roadmap-container {
	padding: var(--padding-xxxl) 0;
	margin: 0 auto;
	width: 1000px;
	display: flex;
	flex-direction: column;
	gap: 96px;
}

.roadmap-flex {
	display: flex;
	flex-direction: column;
}

.rm-cell{
	display: flex;
	flex-direction: row;
	gap: 40px;
}

.ass-pointer-flex {
	display: flex;
	gap: var(--gap-sm);
}

.rm-mark {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.rm-mark-gap-top {
	padding: 7px 0 0 0;
}

.rm-mark-gap-bt {
	padding: 0 0 7px 0;
}

.rm-circle {
	border-radius: var(--br-l);
	border: solid 3px var(--black);
	padding: 4px;
}

.rm-circle-pink {
	background: var(--pink);
}

.rm-center-circle {
	border: solid 3px var(--black);
	width: 15px;
	height: 15px;
	border-radius: var(--br-l);
}

.rm-center-circle-black {
	background: var(--black);
}

.rm-line {
	width: 3px;
	height: 100%;
	background: var(--black);
}

.rm-line-box {
	width: 35px;
	display: flex;
	justify-content: center;
}

.rm-line-fix {
	height: 64px;
	width: 3px;
	background: var(--black);
}

.rm-pointer {
	display: flex;
	align-items: center;
}

.rm-pointer-name {
	border-radius: var(--br-xl);
	background: var(--pink);
	border: 3px solid var(--black);
	padding: 9px var(--padding-xxs) 7px;
	font-size: var(--font-size-xs);
	color: var(--black);
	font-family: var(--font-gg-bold);
	letter-spacing: 0.04em;
	line-height: 100%;
	text-transform: uppercase;
}

.chevron-image {
	margin-right: -5px;
	width: 12px;
	height: auto;
	object-fit: cover;
}



/* ROADMAP */



.footer {
	background: var(--black);
	padding: var(--padding-xxxl) 0;
	display: flex;
	flex-direction: column;
	gap: var(--gap-xxl);
}

.footer-group {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 96px;
}

.footer-icon {
	width: 48px;
	height: auto;
	object-fit: cover;
	transition: transform 0.3s ease;
}

.pender-white-logo {
	width: 148px;
	height: auto;
	object-fit: cover;
	transition: transform 0.3s ease;
}

.footer-text {
	font-size: var(--font-size-xs);
	color: var(--white);
	font-family: var(--font-gg-bold);
	letter-spacing: 0.04em;
	line-height: 100%;
	text-transform: uppercase;
	text-align: center;
}

.social-link-box:hover .pender-white-logo {
	transform: scale(1.1);
}

.social-link-box:hover .footer-icon {
	transform: scale(1.3);
}


@media screen and (max-width:1048px) {
	.fucker-container {
		margin: 0;
		width: auto;
		gap: var(--gap-xl);
		padding: var(--padding-xl) var(--padding-s) 0;
		flex-direction: column-reverse;
		margin-bottom: -158px;
	}

	.fucker-image {
		width: 100%;
	}

	.fucker-info {
		gap: var(--gap-l);
		padding: var(--padding-xs) 0 0 0;
	}

	.fucker-title {
		font-size: var(--font-size-l-m);
		width: 100%;
		word-wrap: break-word;
	}

	.topper {
		width: auto;
		margin: 0;
		padding: var(--padding-s) var(--padding-s) 0;
	}

	.ass-container {
		padding: var(--padding-xxl) var(--padding-s) 0;
		margin: 0;
		width: auto;
	}

	.ass-description {
		padding: var(--padding-xl) 0;
		width: 100%;
		gap: var(--gap-s);
	}

	.ass-timer-description {
		width: 100%;
		padding: 0 0 var(--padding-m) 0;
	}

	.ass-wallet {
		width: auto;
	}

	.ass-wallet-text {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.supply-container {
		padding: var(--padding-xs);
		border-radius: var(--br-m-m);
	}

	.supply-info-text-left {
		padding: 0 var(--padding-xxxs) 0px 0px;
		gap: 2px;
	}

	.supply-info-text-right {
		padding: 0 0px 0px var(--padding-xxxs);
		gap: 2px;
	}

	.sblt-small {
		font-size: var(--font-size-xxs);
	}

	.supply-info-text-off {
	    padding: 0 var(--padding-xxxs) 0 0;
	}

	.ass-timer {
	  	gap: 2px;
	  	width: 100%;
	}

	.ass-timer-cell {
	  	width: 100%;
	}

	.ass-timer-digit {
		padding: var(--padding-xs) var(--padding-xs);
		font-size: var(--font-size-xl-m);
		width: -webkit-fill-available;
		text-align: center;
	}

	.ass-timer-digit-left {
	  	padding: var(--padding-xs) var(--padding-xs) var(--padding-xs) var(--padding-s-m);
	}

	.ass-timer-digit-center {
	  	padding: var(--padding-xs) var(--padding-xs);
	}

	.ass-timer-digit-right {
	  	padding: var(--padding-xs) var(--padding-s-m) var(--padding-xs) var(--padding-xs);
	}

	.ass-timer-name {
		border: 2px solid var(--black);
		padding: 6px var(--padding-xxxs);
		font-size: var(--font-size-xxs);
		margin-top: -12px;
	}

	.ass-timer-name-disable {
		border: 2px solid var(--disable-gray-s);
	}

	.ass-row {
		flex-direction: column;
		gap: var(--gap-xl);
	}

	.ass-images {
		gap: 0;
	}

	.arrow-image {
		display: none;
	}

	.ass-image {
		width: 100%;
	}

	.ass-pr {
		padding-right: 0;
	}

	.money-container {
		padding: var(--padding-xxl) var(--padding-s) 0;
		margin: 0;
		width: auto;
	}

	.money-row {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 44px;
	}

	.money-flex {
		display: flex;
    	flex-direction: column;
    	text-align: left;
	}

	.name-bg-pink {
		border: 2px solid var(--pink);
	}

	.digit-bg-white {
		background: var(--white-t-15);
		font-size: var(--font-size-xl-m);
	}

	.name-bg-white {
		border: 2px solid var(--white-15);
		white-space: nowrap;
	}

	.gap-96 {
		padding: var(--padding-xl) 0 0 0;
	}

	.gap-80 {
		padding: var(--padding-xl) 0 0 0;
	}

	.money-image {
		width: 100%
	}

	.roadmap-container {
		padding: var(--padding-xxl) var(--padding-s);
		margin: 0;
		width: auto;
		gap: var(--gap-l);
	}

	.rm-cell{
		gap: var(--gap-sm);
	}

	.ass-pointer-flex {
		display: flex;
		flex-direction: column;
		gap: var(--gap-s);
	}

	.rm-pointer {
		display: flex;
		align-items: flex-start;
	}

	.rm-pointer-name {
		border: 2px solid var(--black);
	}

	.rm-line {
		height: 7px;
	}

	.rm-line-bt {
		height: 100%;
	}

	.chevron-image {
		margin-right: -10px;
    	margin-top: -1px;
    	rotate: 42deg;
	}

	.footer {
		padding: var(--padding-xxl) var(--padding-s);
		gap: var(--gap-xl);
	}

	.footer-group {
		justify-content: space-around;
    	gap: 0;
	}

	.footer-icon {
		width: 36px;
	}

	.pender-white-logo {
		width: 96px;
	}

	.footer-text {
		display: flex;
    	flex-direction: column;
    	gap: var(--gap-xxs);
	}

}


